/*body {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}*/
a{text-decoration: none;}
/*背景颜色*/
.color-ff{background-color: #fff;}
.color-f3{background-color: #f3f3f3;}
.color-dd{background-color: #ddd;}
.color-red{background-color: #dd2727;}
.color-yellow{background-color: #ffb50e;}
.color-e8{background-color: #e8e8e8;}

/*字体颜色*/
.ft-32{color: #323232!important;}
.ft-64{color: #646464!important;}
.ft-99{color: #999999!important;}
.ft-d5{color: #d5d5d5!important;}
.ft-yellow{color: #ff9b00!important;}
.ft-blue{color: #047bfe!important;}
.ft-red{color: #dd2727!important;}
.ft-white{color: #fff!important;}

/*字体大小*/
.size10{font-size: 10px;}
.size12{font-size: 12px;}
.size14{font-size: 14px;}
.size16{font-size: 16px;}
.size18{font-size: 18px;}
.size20{font-size: 20px;}
.size22{font-size: 22px;}
.size24{font-size: 24px;}
.size26{font-size: 26px;}
.size28{font-size: 28px;}
.size30{font-size: 30px;}

/*字体粗细*/
.weight100{font-weight: 100;}
.weight200{font-weight: 200;}
.weight300{font-weight: 300;}
.weight400{font-weight: 400;}
.weight500{font-weight: 500;}
.weight600{font-weight: 600;}
.weight600{font-weight: 600;}
.weight700{font-weight: 700;}
.weight800{font-weight: 800;}
.weight900{font-weight: 900;}

/*行高*/
.line-hight6{line-height: 6px;}
.line-hight8{line-height: 8px;}
.line-hight10{line-height: 10px;}
.line-hight12{line-height: 12px;}
.line-hight14{line-height: 14px;}
.line-hight16{line-height: 16px;}
.line-hight18{line-height: 18px;}
.line-hight20{line-height: 20px;}
.line-hight22{line-height: 22px;}
.line-hight24{line-height: 24px;}
.line-hight26{line-height: 26px;}
.line-hight28{line-height: 28px;}
.line-hight30{line-height: 30px;}
.line-hight32{line-height: 32px;}
.line-hight34{line-height: 34px;}
.line-hight36{line-height: 36px;}
.line-hight38{line-height: 38px;}
.line-hight40{line-height: 40px;}
.line-hight50{line-height: 50px;}
.line-hight52{line-height: 52px;}
.line-hight54{line-height: 54px;}
.line-hight56{line-height: 56px;}
.line-hight58{line-height: 58px;}
.line-hight60{line-height: 60px;}
.line-hight62{line-height: 62px;}

/*边框*/
.border-none{border: none;}
.border-1px-ff{border: 1px solid #fff;}
.border-2px-ff{border: 2px solid #fff;}
.border-3px-ff{border: 3px solid #fff;}
.border-4px-ff{border: 4px solid #fff;}
.border-2px-e9{border: 2px solid #e9e9e9;}
.border-2px-gray{border: 2px solid #808080;}
.border-1px-pink{border: 1px solid #ff0080}
.border-2px-pink{border: 2px solid #ff0080}
.border-top-a5{border-top: 1px solid #a5a5a5;}
.border-bottom-a5{border-bottom: 1px solid #a5a5a5;}
.border-lr-ed{border-left: 1px solid #ededed;}
.border-tb-ed{border-left: 1px solid #ededed;}
.border-dotted{border: none;-webkit-border-image:url(images/bg-dot.png);}
.border-left-dot-ff{border-left: 1px dotted #fff;}

/*圆角*/
.radius-none{border-radius: 0;}
.radius1{border-radius: 1px;}
.radius2{border-radius: 2px;}
.radius3{border-radius: 3px;}
.radius4{border-radius: 4px;}
.radius5{border-radius: 5px;}
.radius6{border-radius: 6px;}
.radius8{border-radius: 8px;}
.radius10{border-radius: 10px;}
.radius12{border-radius: 12px;}
.radius14{border-radius: 14px;}
.radius16{border-radius: 16px;}
.radius18{border-radius: 18px;}
.radius20{border-radius: 20px;}
.radius22{border-radius: 22px;}
.radius24{border-radius: 24px;}
.radius50{border-radius: 50px;}
.radius100{border-radius: 100px;}
.radius-50{border-radius: 50%;}

.radius-no-top{border-top-right-radius: 0;border-top-left-radius: 0;}
.radius-no-bottom{border-bottom-right-radius: 0;border-bottom-left-radius: 0;}
.radius-no-left{border-top-left-radius: 0;border-bottom-left-radius: 0;}
.radius-no-right{border-top-right-radius: 0;border-bottom-right-radius: 0;}

/*padding*/
.padding0{padding: 0;}
.padding1{padding: 1px}
.padding2{padding: 2px}
.padding3{padding: 3px}
.padding4{padding: 4px}
.padding5{padding: 5px}
.padding6{padding: 6px}
.padding7{padding: 7px}
.padding8{padding: 8px}
.padding9{padding: 9px}
.padding10{padding: 10px}
.padding-left1{padding-left: 1px;}
.padding-left2{padding-left: 2px;}
.padding-left3{padding-left: 3px;}
.padding-left4{padding-left: 4px;}
.padding-left5{padding-left: 5px;}
.padding-left6{padding-left: 6px;}
.padding-left7{padding-left: 7px;}
.padding-left8{padding-left: 8px;}
.padding-left9{padding-left: 9px;}
.padding-left10{padding-left: 10px;}
.padding-left12{padding-left: 12px;}
.padding-left14{padding-left: 14px;}
.padding-left16{padding-left: 16px;}
.padding-left18{padding-left: 18px;}
.padding-left20{padding-left: 20px;}
.padding-right1{padding-right: 1px;}
.padding-right2{padding-right: 2px;}
.padding-right3{padding-right: 3px;}
.padding-right4{padding-right: 4px;}
.padding-right5{padding-right: 5px;}
.padding-right6{padding-right: 6px;}
.padding-right7{padding-right: 7px;}
.padding-right8{padding-right: 8px;}
.padding-right9{padding-right: 9px;}
.padding-right10{padding-right: 10px;}
.padding-lr10{padding-left: 10px;padding-right: 10px;}
.padding-tb10{padding-top: 10px;padding-bottom: 10px;}


/*margin*/
.margin0{margin: 0;}
.margin-top1{margin-top: 1px;}
.margin-top2{margin-top: 2px;}
.margin-top3{margin-top: 3px;}
.margin-top4{margin-top: 4px;}
.margin-top5{margin-top: 5px;}
.margin-top6{margin-top: 6px;}
.margin-top7{margin-top: 7px;}
.margin-top8{margin-top: 8px;}
.margin-top9{margin-top: 9px;}
.margin-top10{margin-top: 10px;}
.margin-top12{margin-top: 12px;}
.margin-top14{margin-top: 14px;}
.margin-top15{margin-top: 15px;}
.margin-top16{margin-top: 16px;}
.margin-top18{margin-top: 18px;}
.margin-top20{margin-top: 20px;}
.margin-top22{margin-top: 22px;}
.margin-top24{margin-top: 24px;}
.margin-top25{margin-top: 25px;}
.margin-top26{margin-top: 26px;}
.margin-top28{margin-top: 28px;}
.margin-top30{margin-top: 30px;}
.margin-top35{margin-top: 35px;}
.margin-top40{margin-top: 40px;}
.margin-top45{margin-top: 45px;}
.margin-top50{margin-top: 50px;}
.margin-top55{margin-top: 55px;}
.margin-top60{margin-top: 60px;}
.margin-top65{margin-top: 65px;}
.margin-top70{margin-top: 70px;}
.margin-top75{margin-top: 75px;}
.margin-top80{margin-top: 80px;}
.margin-top85{margin-top: 85px;}
.margin-top90{margin-top: 90px;}
.margin-top95{margin-top: 95px;}
.margin-top100{margin-top: 100px;}

.margin-top-less1{margin-top: -1px;}
.margin-top-less2{margin-top: -2px;}
.margin-top-less3{margin-top: -3px;}
.margin-top-less4{margin-top: -4px;}
.margin-top-less5{margin-top: -5px;}
.margin-top-less6{margin-top: -6px;}
.margin-top-less7{margin-top: -7px;}
.margin-top-less8{margin-top: -8px;}
.margin-top-less9{margin-top: -9px;}
.margin-top-less10{margin-top: -10px;}
.margin-top-less12{margin-top: -12px;}
.margin-top-less14{margin-top: -14px;}
.margin-top-less15{margin-top: -15px;}
.margin-top-less16{margin-top: -16px;}
.margin-top-less18{margin-top: -18px;}
.margin-top-less20{margin-top: -20px;}
.margin-top-less22{margin-top: -22px;}
.margin-top-less24{margin-top: -24px;}
.margin-top-less25{margin-top: -25px;}
.margin-top-less26{margin-top: -26px;}
.margin-top-less28{margin-top: -28px;}
.margin-top-less30{margin-top: -30px;}
.margin-top-less35{margin-top: -35px;}
.margin-top-less40{margin-top: -40px;}
.margin-top-less45{margin-top: -45px;}
.margin-top-less50{margin-top: -50px;}
.margin-top-less55{margin-top: -55px;}
.margin-top-less60{margin-top: -60px;}
.margin-top-less65{margin-top: -65px;}
.margin-top-less70{margin-top: -70px;}
.margin-top-less75{margin-top: -75px;}
.margin-top-less80{margin-top: -80px;}
.margin-top-less85{margin-top: -85px;}
.margin-top-less90{margin-top: -90px;}
.margin-top-less95{margin-top: -95px;}
.margin-top-less100{margin-top: -100px;}

.margin-bottom0{margin-bottom: 0px;}
.margin-bottom1{margin-bottom: 1px;}
.margin-bottom2{margin-bottom: 2px;}
.margin-bottom3{margin-bottom: 3px;}
.margin-bottom4{margin-bottom: 4px;}
.margin-bottom5{margin-bottom: 5px;}
.margin-bottom6{margin-bottom: 6px;}
.margin-bottom7{margin-bottom: 7px;}
.margin-bottom8{margin-bottom: 8px;}
.margin-bottom9{margin-bottom: 9px;}
.margin-bottom10{margin-bottom: 10px;}
.margin-bottom12{margin-bottom: 12px;}
.margin-bottom14{margin-bottom: 14px;}
.margin-bottom15{margin-bottom: 15px;}
.margin-bottom16{margin-bottom: 16px;}
.margin-bottom18{margin-bottom: 18px;}
.margin-bottom20{margin-bottom: 20px;}
.margin-bottom22{margin-bottom: 22px;}
.margin-bottom24{margin-bottom: 24px;}
.margin-bottom25{margin-bottom: 25px;}
.margin-bottom26{margin-bottom: 26px;}
.margin-bottom28{margin-bottom: 28px;}
.margin-bottom30{margin-bottom: 30px;}
.margin-bottom35{margin-bottom: 35px;}
.margin-bottom40{margin-bottom: 40px;}
.margin-bottom45{margin-bottom: 45px;}
.margin-bottom50{margin-bottom: 50px;}
.margin-bottom55{margin-bottom: 55px;}
.margin-bottom60{margin-bottom: 60px;}
.margin-bottom65{margin-bottom: 65px;}
.margin-bottom70{margin-bottom: 70px;}
.margin-bottom75{margin-bottom: 75px;}
.margin-bottom80{margin-bottom: 80px;}
.margin-bottom85{margin-bottom: 85px;}
.margin-bottom90{margin-bottom: 90px;}
.margin-bottom95{margin-bottom: 95px;}
.margin-bottom100{margin-bottom: 100px;}

.margin-tb0{margin-top: 0px; margin-bottom: 0px;}
.margin-tb4{margin-top: 4px; margin-bottom: 4px;}
.margin-tb5{margin-top: 5px; margin-bottom: 5px;}
.margin-tb6{margin-top: 6px; margin-bottom: 6px;}
.margin-tb8{margin-top: 8px; margin-bottom: 8px;}
.margin-tb10{margin-top: 10px; margin-bottom: 10px;}
.margin-tb12{margin-top: 12px; margin-bottom: 12px;}
.margin-tb14{margin-top: 14px; margin-bottom: 14px;}
.margin-tb16{margin-top: 16px; margin-bottom: 16px;}
.margin-tb18{margin-top: 18px; margin-bottom: 18px;}
.margin-tb20{margin-top: 20px; margin-bottom: 20px;}
.margin-lr1{margin-left: 1px;margin-right: 1px;}
.margin-lr2{margin-left: 2px;margin-right: 2px;}
.margin-lr3{margin-left: 3px;margin-right: 3px;}
.margin-lr4{margin-left: 4px;margin-right: 4px;}
.margin-lr5{margin-left: 5px;margin-right: 5px;}
.margin-lr6{margin-left: 6px;margin-right: 6px;}
.margin-lr7{margin-left: 7px;margin-right: 7px;}
.margin-lr8{margin-left: 8px;margin-right: 8px;}
.margin-lr9{margin-left: 9px;margin-right: 9px;}
.margin-lr10{margin-left: 10px;margin-right: 10px;}

/*宽度*/
.width10{width: 10px;}
.width12{width: 12px;}
.width14{width: 14px;}
.width15{width: 15px;}
.width16{width: 16px;}
.width18{width: 18px;}
.width20{width: 20px;}
.width22{width: 22px;}
.width24{width: 24px;}
.width25{width: 25px;}
.width26{width: 26px;}
.width28{width: 26px;}
.width30{width: 30px;}
.width35{width: 35px;}
.width40{width: 40px;}
.width45{width: 45px;}
.width50{width: 50px;}
.width55{width: 55px;}
.width60{width: 60px;}
.width65{width: 65px;}
.width70{width: 70px;}
.width75{width: 75px;}
.width80{width: 80px;}
.width100{width: 100px;}
.width120{width: 120px;}
.width140{width: 140px;}
.width160{width: 160px;}
.width180{width: 180px;}
.width200{width: 200px}

.width-20{width: 20%;}
.width-40{width: 40%;}
.width-50{width:50%;}
.width-60{width: 60%;}
.width-80{width: 80%;}
.width-90{width: 90%;}
.width-100{width: 100%;}

/*高度*/
.height10{height: 10px;}
.height20{height: 20px;}
.height30{height: 30px;}
.height40{height: 40px;}
.height50{height: 50px;}
.height60{height: 60px;}
.height70{height: 70px;}
.height80{height: 80px;}
.height90{height: 90px;}
.height100{height: 100px;}
.height200{height: 200px;}
.height300{height: 300px;}
.height400{height: 400px;}
.height500{height: 500px;}
.height600{height: 600px;}
.height700{height: 700px;}
/*Bootstrap 重置*/
.container{padding: 0!important;}
.row{margin: 0!important;}
.card-block{padding: 0;overflow: hidden;}
ul,li{list-style-type: none;}
p{margin: 0;}
/*通用*/
.icon{width: 14px;}
.icon-small{width: 7px;}
.icon-middle{width: 20px;}
.icon-big{width: 30px;}
.btn-add{background: #dd2727;text-align: center;font-size: 12px;color: #fff;padding: 3px 6px;}
.col-half{width: 50%;padding: 2px;float: left;}

.nav-bar{position: fixed;bottom: 0;width: 100%;margin: 0;padding: 0;height: 49px;background: #f9f9f9;text-align: center;color: #999;font-size: 12px;}
.col-20pct{width: 20%;float: left!important;display: inline-block;height: 30px;}
.tab-bar-icon{width: 100%;padding:0;margin: 0 overflow: hidden; text-align: center;position: relative;}
.tab-icon{width: 20px;position: absolute;left: 50%;margin-left: -10px;top: 6px;}
.col-20pct span{line-height: 14px;display: block;color: #999;margin-top: 30px;}

.header{background: #dd2727;padding: 10px;height: 40px;margin-bottom: 0!important;}
.header-title{color: #fff;line-height: 40px;text-align: center;font-size: 18px;}
.icon-share2{width: 22px;margin-left: -10px;margin-top: 2px}

.time-tips{font-size: 10px; color: #999;padding-top: 2px;}
.red-btn{background: #dd2727; padding: 5px 10px;color: #fff;font-size: 14px;}
/*progress{height: 2px!important;margin-bottom: 0!important;}*/
/*首页*/
.icon-logo-box{padding:5px!important;}
.icon-logo{width: 24px;margin-top: 7px;}
.icon-share{width: 22px;margin-left: -10px;margin-top: 8px}
.searchbar{padding: 0 10px!important;}
.searchbar input{height: 30px;background:rgba(255,255,255,0.5);border: none;}
.searchbar input::-webkit-input-placeholder{color: rgba(255,255,255,0.7);font-weight: 300;}
.searchbar span{height: 30px;background:rgba(255,255,255,0.5);border: none!important;padding: 2px 10px!important;}
.searchbar span img{width: 14px;}
.idx-nav .col-xs-3 img{width: 60px;}
.nav .col-xs-3{padding: 0;width: 25%;}
.nav .col-xs-3 a{padding: 0;text-align: center;font-size: 14px;color: #323232;padding: 10px 0;border-bottom: 2px solid #fff;}
.nav .col-xs-3 a.active{color: #dd2727;background: #fff;border-bottom: 2px solid #dd2727;}
.card-block progress{height: 2px;margin-bottom: 0;}
.card-block .row{padding:12px 0 5px 0;}
.idx-box{padding: 3px!important;}
.idx-box .col-xs-6{padding: 3px!important;display: inline-block;}
.win-progress{font-size: 14px;color: #dd2727;position: relative;}
.win-progress span{color: #fff;background: #dd2727;font-size: 10px;padding: 2px;border-radius: 30px;height: 30px;width: 30px;display: inline-block;line-height: 26px;position: absolute;top: -2px;right: -4px;}
.win-progress span:before{content: "";border-bottom: 6px solid #dd2727;border-left: 5px solid transparent;border-right:5px solid transparent; position: absolute;top: -4px;left: 10px;}

/*十元专区*/
.goods-list{color: #323232;font-size: 12px;border-bottom: 1px solid #e0e0e0;padding: 10px 5px;position: relative;}
.goods-list .col-xs-3,.col-xs-7,.col-xs-2,.col-xs-6{padding: 0;}
.goods-list .col-xs-6{padding: 0 5px;}
.goods-list progress{height: 3px;margin-bottom: 5px;}
.goods-list p{margin-bottom: 0;}
.list-title{height: 32px;font-size: 14px;line-height: 16px;overflow: hidden;text-overflow:ellipsis;margin-bottom: 5px!important;}
.list-btn-box .btn{background: #fff;color: #dd2727;border: 1px solid #dd2727;font-size: 12px; padding: 3px 6px;}
.list-btn-box{padding: 10px!important;position: absolute;top: 50%;right: 0;margin-top: -23px;}

/*分享*/
.share-container{padding: 8px!important;}
.user-id{overflow: hidden;line-height: 14px;}
.user-id a{font-size: 14px;color: #dd2727;}
.user-id span{color: #999;font-size: 12px}
.share-content{background: #efefef;padding: 5px;position: relative;overflow: visible!important;background-clip: border-box;font-size: 12px;color: #646464}
.share-content p:first-child{font-size: 14px;color: #323232}
.share-goods-title{color: #999;font-size: 10px;}
.head-img{width: 40px;border-radius: 40px;}
.share-time{padding-top: 10px;font-weight: normal;}

.share-card{font-size: 12px;color: #646464}
.share-title{font-size: 14px;color: #323232}
.shareinfo-container{padding: 5px;margin: 5px;}
.shareinfo-card{padding: 5px;}
.share-goodsinfo{background: #f0f0f0;padding: 5px 0;margin: 5px 0;}

/*常见问题*/
.issue-container{}
.issue-title{border-bottom: 1px solid #e0e0e0;}
.issue-title a{font-size: 14px;color: #323232;padding: 5px;text-decoration: none;}
.issue-info{background: #f0f0f0;font-size: 12px;color: #646464;padding: 5px;}

/*奖品详情*/
.present-title{font-size: 16px;line-height: 20px; margin: 0;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.present-list{padding: 8px;font-size: 14px;background: #fff;background-origin: padding-box;}
.present-badge{font-size: 10px;padding: 2px;color: ff9b00!important;border: 1px solid #ff9b00;border-radius: 2px;}
.present-count{background: #dd2727; color: #fff;padding: 8px;font-weight: normal;font-size: 14px;}
.present-count a{text-decoration: none;color: #fff;display: inline-block;padding: 2px; border: 1px solid #fff; border-radius: 2px;font-size: 12px;}
.present-tips p{text-align: center;background: #f0f0f0;padding: 5px;border-radius: 4px;color: #999}
.present-container{padding: 8px;margin:8px;font-size: 12px;position: relative;overflow: hidden;}
.badge-time{background: #fff;padding: 2px 10px; border-radius:20px;display: inline-block;color: #999;border:1px solid #e0e0e0;}
.present-container:before{content: "";position: absolute;left: 20px;z-index: -2; border-left: 1px solid #e0e0e0;border-top: 0px solid transparent;border-bottom: 2000px solid transparent;}
.present-bottom-bar{background: #f0f0f0;border-top: 1px solid #e0e0e0; padding: 10px!important;}
.present-bottom-text{padding-top: 5px;display: inline-block;}

/*计算详情*/
.count-formula{background: #dd2727;color: #fff; padding: 8px;font-size: 12px;border-radius: 4px;}
.count-list{font-size: 12px;color: #646464;background: #fff;border-bottom: 1px solid #e0e0e0;border-top: 1px solid #e0e0e0; padding: 8px;}
.count-list2{font-size: 12px;color: #646464;background: #fff;border-bottom: 1px solid #e0e0e0;border-top: 1px solid #e0e0e0; padding: 8px;margin-top: 10px!important;}
.count-list h5{font-size: 14px; color: #323232;}
.count-list p{line-height: 20px;}

/*清单*/
.list-list{border-bottom: 1px solid #e0e0e0;padding: 8px;}
.list-checkbox{}
.list-goods{padding: 0;}
.list-infobox{padding: 0;font-size: 12px;color: #323232;}
.list-infobox .col-xs-4,.col-xs-8,.col-xs-7 .col-xs-12{padding: 0}
.list-btn-bfo{padding: 5px 10px!important;margin-top: 5px;}
.list-btn-group{padding: 0;margin-top: 5px;}
.list-btn-group input{height: 30px;}
.list-btn{padding: 2px 10px;}

/*支付订单*/
.pay-list{background: #fff;padding: 10px 8px;border-bottom: 1px solid #e0e0e0;font-size: 14px;color: #323232;}
.pay-list a{text-decoration: none;color: #323232;font-size: 14px;}
.pay-list h5{margin-bottom: 0;}
.pay-way{background: #fff;padding: 0 8px;}
.pay-way{}

/*我的换购*/
.exchange-list{padding: 8px; font-size: 16px;color: #dd2727;border-bottom: 1px solid #f0f0f0;}

/*换购-奖品详情*/
.gift-list{padding: 8px;border-bottom: 1px solid #f0f0f0;font-size: 16px;color: #323232;}
.gift-list p{font-size: 14px; line-height: 26px;}
.gift-list p span{overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.gift-cart{padding: 5px 10px;background: #333;color: #fff;text-align: center;position: relative;}
.gift-cart i{font-size: 30px;}
.gift-badge{background: #dd2727;font-size: 10px;position: absolute;left: 50%;}
.gift-add-cart{padding: 0;background: #222;color: #fff;}
.gift-add-cart button{background:#222;color: #fff;border-radius: 0;border: none;font-weight: normal;font-size: 16px;padding: 9px;}
.gift-convert{padding: 0;background: #dd2727;color: #fff;}
.gift-convert button{padding: 9px;background: #dd2727;color: #fff;border-radius: 0;border: none;}

/*购物车*/
.shop-bar{background: #333333;font-size: 14px;color: #fff;padding: 0 0 0 8px;line-height: 36px;border-top: 1px solid #f0f0f0;}
.shop-bar .col-xs-4,.col-xs-2{padding: 0;}
.shop-bar .col-xs-4 button{border-radius: 0;background: #dd2727;color: #fff;border: none;}
.shop-bar .col-xs-2 button{border: none;border-radius: 0;}

/*确认订单*/
.od-list{padding: 8px;border-bottom: 1px solid #f0f0f0;}
.od-list .col-xs-12{font-weight: 500;font-size: 14px;color: #000;padding: 0 0 8px 0;}
.od-list .col-xs-3,.col-xs-9,.col-xs-2,.col-xs-10{padding: 0;}
.od-badge{color: #dd2727;border: 1px solid #dd2727;font-size: 14px;padding: 2px 4px;border-radius: 4px;}
.od-title{overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.od-bar{background: #333;color: #fff;line-height: 20px;}
.od-bar .col-xs-8{padding: 8px;}
.od-bar .col-xs-4{padding: 0;}
.od-bar .col-xs-4 button{color: #fff;background: #dd2727;border: none;border-radius: 0;}

/*兑换成功*/
.cov-list{padding: 4px 8px;font-size: 14px;color: #323232;}
.cov-list .col-xs-8{text-align: center;font-size: 20px;font-weight: bold;}
.cov-list .col-xs-8 span{display: inline-block;padding: 20px 10px;}
.cov-check{width: 30px;display: inline-block;margin-top: -5px;}
.line-bottom{border-bottom: 1px solid #f0f0f0;}
.cov-btn-box{padding: 20px;}
.cov-btn-box .col-xs-6{padding: 5px;}
.cov-btn-box .col-xs-6:first-child button{color: #fff;background: #dd2727;}
.cov-btn-box .col-xs-6:last-child button{color: #fff;background: #2daf3c;}

/*查看订单*/
.view-list .col-xs-3,.col-xs-9{padding: 0;}
.view-list{padding: 8px; font-size: 14px;color: #323232;border-bottom: 1px solid #f0f0f0;}

/*我的*/
.icon-alert{width: 16px;margin-left: 8px;}
.icon-setting{width: 20px;margin-left: -8px;}
.user-bg{background: #dd2727;}
.user-btn{background: #fff;color: #dd2727;padding: 5px;}
.user-icon{height: 32px;display: inline-block;}
.user-row a{text-align: center;padding: 0;border: 1px solid #f0f0f0;height:100px;line-height: 34px;padding: 20px 0;color: #323232;}
.user-row a:focus{text-decoration: none;}
.user-id{text-align: center; padding: 5px 0;color: #fff}
.user-id p{margin-top: 10px;}
.user-id .user-coin{color: #ffff00;font-size: 18px;}

/*通知*/
.notice-list{border-bottom: 1px solid #f0f0f0;padding: 8px;display: block;color: #323232;}
.notice-list:focus{text-decoration: none;color: #323232}
.notice-list .col-xs-11,.col-xs-1{padding: 0;}
.notice-title{font-size: 20px;font-weight: 600;}
.notice-time{font-size: 12px;color: #646464;}
.notice-arrow{padding: 8px;}













/*分隔线*/
.hr-dot{border: none;border-top:1px dotted #fff;}
.hr-dot-d7{border-top: 1px dotted #d7d7d7;}
.hr-dot-black{border-top: 1px dotted #484d57;}
.hr-d7{border-top: 1px solid #c7c7c7;}

/*页面*/
.nav-pills>.time-nav{width: 60px;height: 60px;border-radius: 60px;line-height: 60px;text-align: center;margin: 6px 3px;background: #fff;color: #FF0080;}
.nav-pills>.time-nav>a,.nav-pills>.time-nav>a:hover{background: transparent;border: 1px solid #FF0080;width: 60px;height: 60px;border-radius: 60px;line-height: 60px;padding:0;color: #FF0080;}
.nav-pills>.time-nav.active>a,.nav-pills>.time-nav.active>a:hover{background: #FF0080;}
.time-center-box{position: relative;}
.time-center{width: 294px; position: absolute;left: 50%;margin-left: -147px;}
.time-btn{padding: 5px 5px;}
.time-btn>.btn{padding: 6px;text-align: center;}
.today{position: relative;}
.today.active:after{content: "";
	border-bottom: 20px solid #fff;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	left: 10px;
	bottom: -30px;}
.tomorrow{position: relative;}
.tomorrow.active:after{content: "";
	border-bottom: 20px solid #fff;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	left: 10px;
	bottom: -30px;}
.sat{position: relative;}
.sat.active:after{content: "";
	border-bottom: 20px solid #fff;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	left: 10px;	
	bottom: -30px;}
.sun{position: relative;}
.sun.active:after{
	content: "";
	border-bottom: 20px solid #fff;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	left: 10px;	
	bottom: -30px;
}















